* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}


header{
  text-align: center;
}

.header-h1{
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}

.header-p{
  color: #8E8E8E;
  font-size: 0.875rem;
  max-width: 350px;
}

.status-div{
  background-color: #10A95B;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  color: #F9F4DA;
  margin-block: 30px;
}

h2{
  font-size: 1.25rem;
  margin: 5px
}

/* LANGUAGES*/
.languages{
 max-width: 350px;
 display: flex;
 flex-wrap: wrap;    
 gap: 5px;
 justify-content: center;
}

.box-div{
  border-radius: 4px;
  text-align: center;
  padding-inline: 4.5px;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* HANGMAN WORD*/
.hangman-word{
  display: flex;
  justify-content: center;
  margin-block: 30px;
  gap: 0.2em;
}

.hangman-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width:30px;
  height: 30px;
  border-bottom: 1px solid #F9F4DA;
  background-color: #323232;
}



/* KEYBOARD WITH LETTERS*/